<div class="driver-info" *ngIf="driver != null">
  <h1>{{this.driver.name}}</h1>
  <div>      
      <span class="left-span">Active Years:</span>  
      <span class="right-span">{{this.driver.activeYears}}</span>
      <span class="left-span">Total Events:</span>  
      <span class="right-span">{{this.driver.totalEventsCompleted}}</span>
      <span class="left-span">Best DOTY Finish:</span>  
      <span class="right-span">{{this.driver.bestDOTYFinish}}</span>
      <span class="left-span">Average DOTY Finish:</span>  
      <span class="right-span">{{this.driver.avgDOTYFinish}}</span>
      <span class="left-span">Highest Average DOTY Points:</span>  
      <span class="right-span">{{this.driver.bestSeasonAvgPoints}}</span>
      <span class="left-span">Highest Event Points:</span>  
      <span class="right-span">{{this.driver.bestEventPoints}}</span>
      <span class="left-span">Overall Average Event Points:</span>  
      <span class="right-span">{{this.driver.avgEventPoints}}</span>
  </div>
    <br><br><br>
  <div class="driver-graph">
    <app-driver-chart [name]="driver.name" [chartX]="driver.activeYears" [chartResults]="driver.dotyAvgList"></app-driver-chart>
  </div>
</div>