<div class="driver-info" *ngIf="driver != null">
  <h1>{{this.driver.name}}</h1>
  <div class="driver-details">      
    <div class="left-div">
      <p class="left-p">Active Years:</p>  
      <p class="left-p">Total Events:</p>  
      <p class="left-p">Best DOTY Finish:</p>  
      <p class="left-p">Average DOTY Finish:</p>  
      <p class="left-p">Highest Average DOTY Points:</p>  
      <p class="left-p">Highest Event Points:</p>  
      <p class="left-p">Overall Average Event Points:</p> 
    </div>
    <div class="right-div">
      <p class="right-p">{{this.years}}</p>
      <p class="right-p">{{this.driver.totalEventsCompleted}}</p>
      <p class="right-p">{{this.driver.bestDOTYFinish}}</p>
      <p class="right-p">{{this.driver.avgDOTYFinish}}</p>
      <p class="right-p">{{this.driver.bestSeasonAvgPoints}}</p>
      <p class="right-p">{{this.driver.bestEventPoints}}</p>
      <p class="right-p">{{this.driver.avgEventPoints}}</p>
    </div>
  </div>
    <br>
  <div class="driver-graph">
    <app-driver-chart [name]="driver.name" [chartX]="driver.activeYears" [chartResults]="driver.dotyAvgList"></app-driver-chart>
  </div>
</div>