#chartDiv{
    display: block;
    width: 400px;
    height: 400px;
}

h1{
    vertical-align: middle;
    margin: auto;
    font-size: 48;
    font-family: 'Times New Roman', Times, serif;

}

.driver-info{
    text-align: center;
}

.driver-details{
    width:95%;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #E6E6E6;
}

.left-span{
    float: left;
    clear: left;
    margin-left: 35%;
    text-align: center;
}
.right-span{
    float: right;
    clear: right;
    margin-right: 35%;
    text-align: center;
}

