<main class="main">
  
  <div class="content">
    <div class="header">
      <app-autox-header (searchEvent)="executeSearch($event)"></app-autox-header>
    </div>
    <div class="container">
    <div class="left-side">    
       <app-driver-info [driver]="driver"></app-driver-info>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <app-season-info [competitor]="competitor" [season]="season"></app-season-info>
    </div>
    </div>
  </div>
</main>

<router-outlet />
