<div class="right-top" *ngIf="competitor != null">
    <h1>{{season?.year}}  DOTY Placement</h1>
    <div class="seasonDriverStats">
      <span class="left-span">Total pts. {{competitor.totalPoints}}</span>    
      <span class="right-span">Average pts. {{competitor.avgPoints}}</span>
    </div>
    <app-season-table class="season-table" [competitor]="competitor" [season]="season" ></app-season-table>
    <br>
    <div class="seasonDriverGraph">
      <app-season-chart [name]="competitor.name" [chartX]="competitor.eventNames" [chartResults]="competitor.eventPoints"></app-season-chart>
    </div>
  </div>
  <div class="right-bottom" *ngIf="season != null">
    <h1>{{season.year}} Season Info</h1>
    <span class="left-span">Total Drivers:</span>
    <span class="right-span"> {{season.totalCompetitors}}</span>
    <span class="left-span">DOTY Competitors:</span>
    <span class="right-span">{{season.totalDOTY}}</span>
    <span class="left-span">Top 10 Avg pts.:</span> 
    <span class="right-span">{{season.topTenAvg}}</span>
    <span class="left-span">Top 5 Avg pts.:</span> 
    <span class="right-span">{{season.topFiveAvg}}</span>
  </div>
