h1{
    vertical-align: middle;
    margin: auto;
    font-size: 48;
    font-family: 'Times New Roman', Times, serif;
}

.right-bottom{
    text-align: center;
}

.right-top{
    text-align: center;
}

.left-span{
    float: left;
    clear: left;
    margin-left: 30%;
}
.right-span{
    float: right;
    clear: right;
    margin-right: 30%;
}