<div class="right-top">
    <h1>Year DOTY Placement</h1>
    <div class="seasonDriverStats">
      <div class="totalPoints">Total pts. TOTAL POINTS</div>    
      <div class="avgPoints">Average pts. AVERAGE POINTS</div>
    </div>
    <br><br><br>
    <div class="seasonDriverGraph">graph here</div>
  </div>
  <div class="right-bottom">
    <h1>YEAR Season Info</h1>
    <div>Total Drivers</div>
    <div>DOTY Competitors</div>
    <div>Top 10 Avg pts.</div>
    <div>Top 5 Avg pts.</div>
  </div>
